
/* color theme set to variable to allow for wuick theme changes */
:root{
    --Navy:  #053742;
    --blue: #39A2DB;
    --aqua: #A2DBFA;
    --teal:#E8F0F2;
    
}
/* Global font change */
*{
    font-family:Arial, Helvetica, sans-serif;
}
/* increase font size and change color */
h1{
  font-size: 3rem;
  color:var(--Navy);
}
/* changes navbar item size */
li{
    
    font-size: 1.5rem;
}
img{
    margin-bottom:-20px;
}

footer{
    margin:-20px;
    padding:20px;
}
.section, main, footer{
    background-color: var(--aqua);
}
.section{
    background-color: var(--blue);
    border-radius: 15px;
    margin:20px;
}
#nav{
    background-color: var(--Navy);
    color:var(--aqua);
    margin-right: 10px;
    padding: 10px;
    
   
}
#navbar{
    color: var(--teal);
    font-size:225%;
}
.Mivehchi{
    color: var(--aqua);
    font-size: 120%;
    font-style: italic;
    margin-left: -10px;
}
#navbarText{
    justify-content: end;
    color:var(--Navy);
}
#about{
    background-color: var(--blue);
    border-radius: 15px;
    margin:20px;
    
    
}
#proj{
    background-color: var(--blue);
    border-radius: 15px;
    
   
   
}
#projects{
    background-color: var(--blue);
    border-radius: 15px;
    padding-top: -20px;
    padding-bottom: 20px;
    
   
}
#main{
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 10;
  
}
#mini{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.miniProject{
    margin: 0 30px;
    
}


